<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- 引入对应样式 -->
    <!-- 教室 -->
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/classroom/classroom.css">
    <!-- loading -->
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/loading/playback/Loading.css">
    <!-- 白板 -->
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/whiteboard/Whiteboard.css">
    <!-- 用户列表 -->
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userList/UserList.css">
    <!-- 公告 -->
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/notice/Notice.css">
    <!-- 聊天 -->
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/message/messageList/MessageList.css">
    <!-- 控制条 -->
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/playback/newPlayerSlider/PlayerSlider.css">
    <!-- 回放目录 -->
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/playback/menusPanel/MenusPanel.css">
    <!-- 音量控制 -->
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/setting/volumeSlider/VolumeSlider.css">
    <!-- 问答 -->
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/questionAnswer/QuestionAnswer.css">
    <!-- 答题器 -->
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/answer/student.css">
    <!-- 测验 -->
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/quiz/student.css">
    <!-- 发言列表 -->
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/activeList/ActiveList.css">
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/theme/Default.css">

    <title>bjy-playback-vue-demo</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- 引入对应脚本 -->
    <script src="https://img.baijiayun.com/public/jquery/1.12.4/jquery-1.12.4.js"></script>
    <!-- 进入教室 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/classroom/classroom.js"></script>
    <!-- 回放 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/playback/playback.js"></script>
    <!-- webrtc依赖 -->
    <script src="//live-cdn.baijiayun.com/realtimecat/1.0.3/realtimecat.js"></script>


    <!-- 播放器相关依赖 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userPublish.js"></script>
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/core/Player.js"></script>
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/player.js"></script>

    <!-- 用户推拉流相关 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userStatus.js"></script>
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/theme/Default.js"></script>

    <!-- loading -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/loading/playback/Loading.js"></script>
    <!-- 使用新白板（画笔工具）需要引入canvas依赖 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/component/canvas/Canvas.js"></script>
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/component/canvas/toolBar/ToolBar.js"></script>
    <!-- 白板 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/whiteboard/Whiteboard.js"></script>
    <!-- 用户列表集成 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userList/UserList.js"></script>
    <!-- 公告 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/notice/Notice.js"></script>
    <!-- 发言列表 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/activeList/ActiveList.js"></script>
    <!-- 聊天 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/message/messageList/MessageList.js"></script>
    <!-- 控制条 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/playback/newPlayerSlider/PlayerSlider.js"></script>
    <!-- 回放目录 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/playback/menusPanel/MenusPanel.js"></script>
    <!-- 播放器 -->
    <script src="//www.baijiayun.com/m/playback/dep/dplayer/1.25/flv.min.js"></script>
    <!-- 音量控制 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/setting/volumeSlider/VolumeSlider.js"></script>
    <!-- 弹幕 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/barrage/Barrage.js"></script>
    <!-- 问答 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/questionAnswer/QuestionAnswer.js"></script>
    <!-- 答题器-->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/answer/student.js"></script>
    <!-- 测验 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/quiz/student.js"></script>

    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/cef/cef.js"></script>
    <!-- falsh 依赖 -->
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/extension/flash.js"></script>
    <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/extension/webrtc/webrtc.js"></script>

  </body>
</html>
