<template>
  <div class="bjy-warm-video-wrapper">
    <BJYLocalPlayer v-if="isWarmVideoShow" ref="warmVideo" :list="warmVideoOptions.list" :isLoop="warmVideoOptions.isLoop"/>
  </div>
</template>

<script>
var store = BJY.store
var camelCaseObject = BJY.camelCaseObject
var videoList = []
var isLoop = true
var isRequested = false

function _getWarmVideoList(requestParam) {
  let responsePromise = fetch(BJY.getAjaxUrl(`/web/live_warming_video_on_demand/getVideoList?room_id=${requestParam.roomId}&token=${encodeURIComponent(requestParam.token)}`))
  return new Promise((resolve) => {
    responsePromise.then((response) => {
      response.json().then((data) => {
        resolve(data)
      })
    })
  })
}

function getWarmVideoList(requestParam) {
    var deferred = $.Deferred()
    if (isRequested) {
        deferred.resolve({ list: videoList, isLoop: isLoop })
    }
    else {
        _getWarmVideoList(requestParam).then(
            function (res) {
              console.log('res', res)
                isRequested = true
                if (res && res.code === 0) {
                    var data = camelCaseObject(res.data)
                    videoList = data && data.list
                    isLoop = data && data.isLoop
                }
                deferred.resolve({ list: videoList, isLoop: isLoop })
            },
            function () {
                deferred.resolve({ list: videoList, isLoop: isLoop })
            }
        )
    }
    return deferred
}

function tryResumePlay(video) {
    var isFullScreen = false
    var pausedInFullScreen = false

    var exitFullscreenHandler = function () {
        isFullScreen = false
        // 尝试恢复自动播放
        if (video && video.paused && !pausedInFullScreen) {
            // 第一次尝试
            video && video.play()
            // 有的浏览器会在调用 play 后 自动调用了 pause 延迟再次触发播放 600 是经验值
            setTimeout(function () {
                video && video.paused && video.play()
            }, 600)
        }
    }

    var enterFullscreenHandler = function () {
        isFullScreen = true
        pausedInFullScreen = video && video.paused
    }

    video.addEventListener('x5videoexitfullscreen', exitFullscreenHandler)
    video.addEventListener('webkitendfullscreen', exitFullscreenHandler)

    video.addEventListener('x5videoenterfullscreen', enterFullscreenHandler)
    store.watch('fullscreen', function (fullscreen) {
        fullscreen && enterFullscreenHandler()
    })

    // 部分机型，退出全屏时会先触发暂停播放事件 100 毫秒以后才触发退出全屏事件 这里尝试记下全屏时的播放状态 排除退出全屏时触发的暂停
    video.addEventListener('pause', function () {
        setTimeout(function () {
            pausedInFullScreen = video && video.paused
        }, 200)
    })

    video.addEventListener('play', function () {
        pausedInFullScreen = video && video.paused
    })
}

function autoResumePlayWhenExtFullScreen(instance) {
    Yox.nextTick(function () {
        var video = instance && instance.$refs && instance.$refs.video
        video && tryResumePlay(video)
    })
}

export default {
  name: 'WarmVideo',
  data() {
    return {
      warmVideoOptions: {
          list: [],
          isLoop: true
      }
    }
  },
  computed: {
    isStarted: function () {
        return store.get('class.started')
    },
    isWarmVideoShow: function () {
        return (
            !this.isStarted
            && this.warmVideoOptions?.list
            && this.warmVideoOptions.list?.length
        )
    }
  },
  watch: {
      isWarmVideoShow: function (show) {
        console.log('show:', show)
          var me = this
          Yox.nextTick(function () {
              var instance = show && me.$refs && me.$refs.warmVideo
              instance && autoResumePlayWhenExtFullScreen(instance)
          })
      }
  },
  components: {
      BJYLocalPlayer: BJY.BJYLocalPlayer
  },
  mounted() {
    var requestParam = {
        roomId: store.get('class.id'),
        token: store.get('token')
    }
    getWarmVideoList(requestParam).then((data) => {
      this.warmVideoOptions = data
    })
  }
}
</script>

