<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta https-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="//live-cdn.baijiayun.com/video-cloud/asset/common/img/logo_02e27bba25.ico"
        />
        <!-- 使用任何组件都应该引入此基本样式文件 -->
        <link
            rel="stylesheet"
            href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/classroom/classroom.css"
        />
        <!-- 其他组件样式根据需要引入 -->
        <!-- loading样式 -->
        <link
            rel="stylesheet"
            href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/loading/playback/Loading.css"
        />
        <!-- 用户列表 -->
        <link
            rel="stylesheet"
            href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userList/UserList.css"
        />
        <!-- 聊天列表 -->
        <link
            rel="stylesheet"
            href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/message/messageList/MessageList.css"
        />
        <!-- 控制条 -->
        <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/playback/newPlayerSlider/PlayerSlider.css">
        <!-- 公告 -->
        <link
            rel="stylesheet"
            href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/notice/Notice.css"
        />
        <!-- 回放目录 -->
    <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/playback/menusPanel/MenusPanel.css">
        <!-- 问答 -->
        <link
            rel="stylesheet"
            href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/questionAnswer/QuestionAnswer.css"
        />
        <!-- 白板样式 -->
        <link
            rel="stylesheet"
            href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/whiteboard/Whiteboard.css"
        />

        <!-- 答题器学生端样式 -->
        <link
            rel="stylesheet"
            href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/answer/student.css"
        />
        <!-- 小测 -->
        <link
            rel="stylesheet"
            href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/quiz/student.css"
        />

        <title>bjy-live-h5-vue-demo</title>

        <style>
            html,
            body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>

    <body>
        <div id="app"></div>

        <!-- 本 SDK 需要使用 JQuery 库，因此在使用之前首先引入 JQuery 文件 -->
        <script src="https://img.baijiayun.com/public/jquery/1.12.4/jquery-1.12.4.js"></script>
        <!-- // 进入教室 -->
        <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/classroom/classroom.js"></script>
        <!-- // 回放 -->
        <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/playback/playback.js"></script>
        <!-- // loading -->
        <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/loading/playback/Loading.js"></script>

        <!-- 新白板有画笔工具功能 要引入canvas -->
        <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/component/canvas/Canvas.js"></script>
        <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/component/canvas/toolBar/ToolBar.js"></script>
        <!-- 白板 -->
        <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/whiteboard/Whiteboard.js"></script>
        <!-- 用户列表 -->
        <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userList/UserList.js"></script>
        <!-- 公告 -->
        <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/notice/Notice.js"></script>
        <!-- 问答 -->
        <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/questionAnswer/QuestionAnswer.js"></script>
        <!-- 回放目录 -->
        <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/playback/menusPanel/MenusPanel.js"></script>
        <!-- 聊天 -->
        <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/message/messageList/MessageList.js"></script>
        <!-- 控制条 -->
        <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/playback/newPlayerSlider/PlayerSlider.js"></script>
        <!-- 学生端小测 -->
        <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/quiz/student.js"></script>
        <!-- 答题器 -->
        <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/answer/student.js"></script>

        <!-- // 移动端如需要使用加密播放，引用flv.js -->
        <script src="//www.baijiayun.com/m/playback/dep/dplayer/1.25/flv.min.js"></script>
    </body>
</html>
