<template>
  <div id="app">
    <Loading/>
    <div v-if="loaded" id="main">
      <div class="video-wrap">
        <WhiteBoard ref="whiteboard" :isPptAsMain="isPptAsMain" v-if="isPptAsMain"/>
        <Player v-else ref="player"/>
        <Barrage ref="barrage" />
      </div>
      <!-- 视频底部icon按钮菜单 -->
      <Menu :isPptAsMain="isPptAsMain" ref="menu" @buttonPress="handleBottomPress($event)"/>
      <!-- 聊天、问答、白板、公告等 -->
      <div class="media-panel">
        <div class="notice" :class="{'notice-show': showNotice}">
          <Notice v-bind="noticeProps"/>
        </div>
        <InteractionPanel :isPptAsMain="isPptAsMain" />
      </div>
      <!-- 弹出层，响应老师发起的测验，答题器等 -->
      <ModalPanel />
      <!-- 点名弹框 -->
      <div v-show="isRollCalling" class="roll-call">
        <p class="roll-call-tip">老师要求你在{{rollCallCountDown}}秒内响应点名</p>
        <span class="roll-call-btn" @click="answerRollCall()">答到</span>
      </div>
    </div>
  </div>
</template>

<script>
import Loading from './components/Loading'
import Player from './components/Player'
import Barrage from './components/Barrage'
import Menu from './components/Menu'
import InteractionPanel from './components/InteractionPanel'
import WhiteBoard from './components/InteractionPanel/WhiteBoard'
import ModalPanel from './components/ModalPanel'

var eventEmitter = BJY.eventEmitter

export default {
  name: 'App',
  components: {
    Loading,
    Player,
    Menu,
    Barrage,
    WhiteBoard,
    /**
     * 对于一些逻辑简单的组件，你可以不必为它们创建一个单独的.vue文件，
     * 你可以使用Yox.transformOptions把我们sdk里面的组件转化成vue组件，
     * 你要做的只是在main.js中使用我们自己定制的vue（Yox.vue），
     * 然后将create方法中的参数当成组件的props传入
     */
    Notice: Yox.transformOptions(BJY.Notice),
    InteractionPanel,
    ModalPanel
  },
  data () {
    return {
      loaded: false,
      // notice组件create方法需要接收这些参数
      noticeProps: {
        element: $('.media-panel .notice')[0], // 父容器
        replace: false,
        defaultContent: '这里空空如也...'
      },
      showNotice: false,
      // 是否是ppt为主模版
      isPptAsMain: false,
      isRollCalling: false,
      // 点名倒计时
      rollCallCountDown: 10,
      rollCallTimer: null
    }
  },
  created () {
    var options = {
      prefixName: '',
      env: 'production',
      room_id: '20031462297090',
      user_number: '23423',
      user_avatar: '',
      user_name: '技术支持',
      user_role: 0,
      sign: '7514dfad3036ed7fecb992f06a4444e2',
      webrtc: 0
    }

    // debug 模式支持输入传送门链接进入
    // 非webrtc大班课需要在url后拼上 &webrtc=0
    if (location.href.includes('debug=1')) {
      var url = prompt('输入传送门链接进入教室,webrtc课程请在链接后加上&webrtc=1')
      options = Object.assign(options, this.urlParser(url))
      console.log(options)
    }

    var classOption = {
      // 必须为字符串
      id: options.room_id
    }

    if (Number(options.webrtc)) {
      classOption.webrtcType = Number(options.webrtc)
    }

    BJY.init({
      env: options.env,
      privateDomainPrefix: options.prefixName,
      class: classOption,
      user: {
        number: options.user_number,
        avatar: options.user_avatar,
        name: decodeURIComponent(options.user_name),
        type: Number(options.user_role)
      },
      teacher: {
        type: 1
      },
      sign: options.sign
    })

    eventEmitter
      .on(
        eventEmitter.CLASSROOM_CONNECT_TRIGGER,
        function (event, data) {
          // 开始连接服务器，可以在这做一下创建组件之前的准备
        }
      )
      .on(
        eventEmitter.VIEW_RENDER_TRIGGER,
        (event, data) => {
          // 本事件触发表示直播服务已准备就绪，开始创建组件。该事件只会触发一次，会在BJY.init()之后很短时间内触发，注意监听时机
          this.loaded = true
        }
      )
      // 监听 loading 结束加载事件
      .one(
        eventEmitter.LOADING_PANEL_END,
        (event, data) => {
          // loading 结束加载时要做的事情
          $('#main').css('opacity', 1)
        }
      )
      .on(
        eventEmitter.LOGIN_CONFLICT,
        () => {
          alert('你已被踢，请确保user_number唯一')
        }
      )
      // 点名
      .on(
        eventEmitter.ROLL_CALL, // 老师发起了点名
        (e, data) => {
          this.rollCallCountDown = data.duration
          this.isRollCalling = true
          this.rollCallTimer = setInterval(() => {
            if (this.rollCallCountDown === 0) {
              clearInterval(this.rollCallTimer)
              this.isRollCalling = false
            }
            this.rollCallCountDown--
          }, 1000)
        }
      )
  },
  methods: {
    answerRollCall () {
      eventEmitter.trigger(eventEmitter.ROLL_CALL_RES)
      this.isRollCalling = false
      clearInterval(this.rollCallTimer)
    },
    // 支持解析输入的url进教室
    urlParser (url) {
      var params = {}
      if (url) {
        try {
          // 获取query
          var queryStr = url.split('?')[1]
          var paramList = queryStr.split('&')
          paramList.forEach(item => {
            var pair = item.split('=')
            params[pair[0]] = pair[1]
          })
          // 个性域名
          params.prefixName = url.split('.')[0].split('//')[1]
          // 区分环境
          params.env = this.getEnv(url)
        } catch (e) {
          console.log(e)
        }
      }
      return params
    },
    getEnv (url) {
      // 获取环境
      const hostName = url.match(/\/\/(.*)\./)[1]
      if (/test/.test(hostName) || /localhost/.test(hostName) || /\d{1,3}\.\d{1,3}\.\d{1,3}/.test(hostName)) {
        return 'test'
      }
      if (/beta/.test(hostName)) {
        return 'beta'
      }
      if (/www/.test(hostName)) {
        return ''
      }
      return ''
    },
    // 菜单按钮事件
    handleBottomPress (e) {
      switch (e) {
        case 'notice':
          this.noticeToggle()
          break

        case 'barrage':
          this.barrageToggle()
          break

        case 'refresh':
          this.refresh()
          break

        case 'fullscreen':
          this.fullScreen()
          break

        case 'swap':
          this.swapVideoDoc()
      }
    },
    swapVideoDoc () {
      var videoEl = $('#h5-player')
      var docEl = $('#whiteboard')
      var cloneDocEl = docEl.clone()
      var temp = $('<span/>')

      videoEl.before(temp)
      docEl.replaceWith(videoEl)
      temp.replaceWith(cloneDocEl)

      this.$refs.whiteboard.refresh()
    },
    noticeToggle () {
      this.showNotice = !this.showNotice
    },
    barrageToggle () {
      this.$refs.barrage.toggle()
      const isBarrageOn = this.$refs.barrage.isBarrageOn()
      this.$refs.menu.toggleIcon(isBarrageOn)
    },
    refresh () {
      this.$refs.player.replay()
    },
    fullScreen () {
      this.$refs.player.fullSize()
    }
  }
}
</script>

<style lang="scss">
@import "./assets/iconfont/iconfont.css";
#app {
  height: 100%;
  width: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .video-wrap {
      width: 100%;
      min-height: 210px;
      position: relative;

      .bjy-container {
          width: 100%;
          height: 100%;
      }
    }

    .media-panel {
      flex-grow: 1;
      width: 100%;
      position: relative;
      overflow: hidden;

      .notice {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0;
        height: 36px;
        box-sizing: border-box;
        background: #fff;
        transition: .3s left;
        left: 100%;
        z-index: 1;

        .bjy-notice {
          background: #fff;
          padding: 0 8px;
        }
      }

      .notice-show {
        left: 0;
      }
    }

    .roll-call {
      position: absolute;
      top: 50%;
      background: #fff;
      border-radius: 5px;
      border: 1px solid #ddd;
      text-align: center;

      .roll-call-tip {
        border-bottom: 1px solid #ddd;
        padding: 0 20px;
        margin: 0;
        line-height: 36px;
      }

      .roll-call-btn {
        color: #1795ff;
        line-height: 36px;
      }
    }
  }
}
</style>
