<template>
  <div id="h5-player">
    <div v-if="tip" class="tip">{{tip}}</div>
    <!-- 因为手机不支持自动播放，需在播放器位置放一个播放按钮，点击后调用 teacherH5Player.playAV(true) 触发播放 -->
    <div v-show="started" id="btn-wrap">
      <i
      class="icon icon-play"
      @click="togglePlay()"
    >
    </i>
    </div>
  </div>
</template>

<script>

var eventEmitter = BJY.eventEmitter
// store 存储着系统的权限信息
var store = BJY.store
// 获取创建播放器的 Player 对象
var Player = BJY.Player
var teacherH5Player
var playButton

export default {
  components: {
  },
  data () {
    return {
      tip: '',
      started: false
    }
  },
  computed: {},
  watch: {},
  methods: {
    togglePlay () {
      // 如果当前播放器正在播放，先关掉播放器
      if (teacherH5Player.videoOn || teacherH5Player.audioOn) {
        teacherH5Player.playAVClose()
      }
      // 播放视频
      teacherH5Player.playAV(
        store.get('teacher.videoOn')
      )
      $('#btn-wrap').addClass('hidden')
    },
    replay () {
      if (teacherH5Player) {
        teacherH5Player.replay()
      }
    },
    fullSize () {
      teacherH5Player.showVideo()
    }
  },
  created () {
    this.started = store.get('class.started')
    // 初始化 H5 播放器扩展
    Player.html.init()
    // 监听 H5 播放器相关事件
    eventEmitter
      .on(
        // 老师打开媒体事件
        eventEmitter.TEACHER_MEDIA_ON,
        () => {
          console.log('老师媒体开启')
          // 判断播放器是否存在
          if (!teacherH5Player) {
            // 若不存在，创建一个 H5 播放器组件
            teacherH5Player = new Player({
              // 组件的父容器
              element: $('#h5-player'),
              // 音视频发布用户（一般为老师）
              user: store.get('teacher'),
              // 播放器扩展（实现与底层播放相关的接口 可直接使用百家云实现 H5 扩展 Player.html。）
              extension: Player.html
            })
          }
          playButton.addClass('hidden')
          this.started = true
        }
      )
      .on(
        // 老师关闭媒体事件
        eventEmitter.TEACHER_MEDIA_OFF,
        () => {
          this.tip = '老师已关摄像头'
          this.started = false
        }
      )
      .on(
        // 老师加入房间事件
        eventEmitter.TEACHER_ADD,
        function () {
          console.log('老师进入教室')
        }
      )
      .on(
        // 老师离开房间事件
        eventEmitter.TEACHER_REMOVE,
        () => {
          console.log('老师离开教室')
          this.tip = '老师离开教室'
          this.started = false
          if (teacherH5Player) {
            // 销毁 H5 播放器组件
            teacherH5Player.dispose()
            // 将对 H5 组件对象置空
            teacherH5Player = null
          }
        }
      )
      .on(
        // 正在加载视频事件
        eventEmitter.HTML_VIDEO_LOAD_START,
        () => {
          this.tip = '视频正在加载...'
          playButton.addClass('hidden')
        }
      )
      .on(
        // 视频开始播放事件
        eventEmitter.HTML_VIDEO_PLAY,
        () => {
          console.log('视频开始播放')
          this.tip = ''
          playButton.addClass('hidden')
        }
      )
      .on(
        // 视频暂停事件
        eventEmitter.HTML_VIDEO_PAUSE,
        () => {
          this.tip = ''
          playButton.removeClass('hidden')
        }
      )
      .on(
        // 视频加载超时事件
        eventEmitter.HTML_VIDEO_LOAD_TIMEOUT,
        () => {
          this.tip = '加载超时,请刷新重试'
          playButton.addClass('hidden')
        }
      )
      .on(
        // 视频加载失败事件
        eventEmitter.HTML_VIDEO_LOAD_FAIL,
        () => {
          this.tip = '视频加载失败'
          playButton.addClass('hidden')
        }
      )
      .on(
        // 正在加载音频事件
        eventEmitter.HTML_AUDIO_LOAD_START,
        function () {
          console.log('正在加载音频')
        }
      )
      .on(
        // 音频开始播放事件
        eventEmitter.HTML_AUDIO_PLAY,
        function () {
          console.log('音频开始播放')
          playButton.addClass('hidden')
        }
      )
      .on(
        // 音频暂停事件
        eventEmitter.HTML_AUDIO_PAUSE,
        function () {
          console.log('音频暂停')
          playButton.removeClass('hidden')
        }
      )
      .on(
        // 音频加载超时事件
        eventEmitter.HTML_AUDIO_LOAD_TIMEOUT,
        function () {
          console.log('音频加载超时')
          playButton.removeClass('hidden')
        }
      )
      .on(
        // 音频加载失败事件
        eventEmitter.HTML_AUDIO_LOAD_FAIL,
        function () {
          console.log('音频加载失败')
          playButton.removeClass('hidden')
        }
      )
  },
  mounted () {
    if (!this.started) {
      this.tip = '课程还没开始'
      return
    }
    playButton = $('#btn-wrap')
    teacherH5Player = new Player({
    // 组件的父容器
      element: $('#h5-player'),
      // 音视频发布用户（一般为老师）
      user: store.get('teacher'),
      // 播放器扩展（实现与底层播放相关的接口）
      extension: Player.html
    })
  },
  beforeDestroy () { }
}
</script>

<style lang='scss' scoped>
//@import url(); 引入公共css类

#h5-player {
  height: 210px;
  width: 100%;
  background: #000;
  position: relative;

  #btn-wrap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);

    .icon-play {
      color: rgba(255, 255, 255, 0.6);
      font-size: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      transform: translate(-50%,-50%)
    }
  }

  .hidden {
    display: none;
  }
  .tip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgba(0,0,0,.8);
    border-radius: 18px;
  }
}
</style>
