<template>
  <div id="whiteboard" :class="{'min-doc': isPptAsMain}">
    <div class="placeholder"></div>
  </div>
</template>

<script>
export default {
  components: {},
  props: ['isPptAsMain'],
  data () {
    return {
      whiteboard: null
    }
  },
  computed: {},
  watch: {},
  methods: {
    refresh () {
      this.whiteboard.refresh()
    }
  },
  created () {},
  mounted () {
    // 新版白板
    this.whiteboard = BJY.Whiteboard.create({
      element: $('#whiteboard .placeholder'),
      // 填充模式： 1 自适应  2 撑满容器
      fit: 1,
      keepSize: false,
      // 给静态文档添加水印，如不需要可忽略。sdkVersion >= 0.3.1
      watermark: {
        text: 'text', // 水印文字，必传，不宜过长，否则阿里云图片处理会出错
        opacity: 8, // 可选，透明度
        size: 36, // 可选，字号
        rotate: 20, // 可选，旋转角度
        fill: 1 // 可选，是否铺满 0/1，默认1
      }
    })
  },
  beforeDestroy () {}
}
</script>

<style lang="scss">
//@import url(); 引入公共css类
#whiteboard {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
</style>
