<template>
  <div id="whiteboard">
    <div class="placeholder"></div>
  </div>
</template>

<script>
export default {
  components: {},
  data () {
    return {}
  },
  computed: {},
  watch: {},
  methods: {},
  created () {},
  mounted () {
    // 新版白板
    BJY.Whiteboard.create({
        element: $('#whiteboard .placeholder')
    });
  },
  beforeDestroy () {}
}
</script>

<style lang="scss" scoped>
//@import url(); 引入公共css类
#whiteboard {
  height: 100%;
  width: 100%;

  .bjy-whiteboard-wrapper {
    width: 100%;
  }
}
</style>
