@font-face {
  font-family: "icon"; /* Project id 4277233 */
  src: url('iconfont.woff2?t=1696816204313') format('woff2'),
       url('iconfont.woff?t=1696816204313') format('woff'),
       url('iconfont.ttf?t=1696816204313') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huazhonghua:before {
  content: "\e86d";
}

.icon-barrage-off:before {
  content: "\e614";
}

.icon-barrage-on:before {
  content: "\e615";
}

.icon-volume:before {
  content: "\e616";
}

.icon-pause:before {
  content: "\e617";
}

.icon-play:before {
  content: "\e618";
}

.icon-fullscreen:before {
  content: "\e673";
}

.icon-exit-fullscreen:before {
  content: "\e785";
}

.icon-switch:before {
  content: "\e67f";
}

