html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
label {
    margin-bottom: 0;
}

#main {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 646px;
    min-width: 1200px;
    margin: 0 auto;
    opacity: 0;
    background: url('../img/class-panel-bg.jpg');

}
.mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.2);
}



/*进度条样式*/
#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*右边样式*/
.right {
    position: absolute;
    width: 280px;
    top: 0;
    right: 0;
    bottom: 50px;
    padding: 0 7px;
    background: #fff;
    overflow: hidden;
    box-shadow: -2px 0 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: -2px 0 6px rgba(0,0,0,0.2);
    -moz-box-shadow: -2px 0 6px rgba(0,0,0,0.2);
}
/*Flash 播放器*/
#live-teacher-player {
    position: absolute;
    top: 0;
    width: 266px;
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid #fff;
}
#live-self-player {
    position: absolute;
    bottom: 0;
    width: 266px;
    height: 200px;
    border-top: 1px solid #fff;

    transition: bottom .5s;
    -webkit-transition: bottom .5s;
    -moz-transition: bottom .5s;
    -o-transition: bottom .5s;

}
.teacher #live-self-player {
    display: none;
}
#live-self-player.folded {
    bottom: -200px;
}
#live-self-player.folded .bjy-fold-bar {
    top: -23px;
}
/*列表样式*/
.list-section {
    position: absolute;
    top: 200px;
    width: 266px;
    background: #fff;
    bottom: 23px;
}
.teacher .list-section {
    bottom: 0;
}
.list-section.has-my-player {
    bottom: 200px;
}
.list {
    width: 100%;
    margin: 0 auto;
}
/*切换列表按钮样式*/
.tab {
    width: 100%;
    height: 46px;
}
.tab-list {
    display: inline-block;
    width: 88px;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    color: #999;
    float: right;
    border-bottom: 1px solid #999;
    cursor: pointer;
}
#btn-user-list {
    position: absolute;
    top: 0;
    right: 2px;
}
#btn-message-list {
    position: absolute;
    top: 0;
    left: 88px;
}
#btn-message-list.has-new:after {
    content: '';
    position: absolute;
    right: 8px;
    top: 19px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ff0000;
}
#btn-action-list {
    position: absolute;
    top: 0;
    left: 0;
}
#btn-action-list.has-new:after {
    content: '';
    position: absolute;
    right: 8px;
    top: 19px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ff0000;
}

.tab-select {
    color: #fa0;
    border-bottom: 1px solid #fa0;
}
/*列表项样式*/
.tab-item {
    width: 100%;
    position: absolute;
    top: 46px;
    bottom: 0;
    overflow: hidden;
}
.tab-content {
    position: relative;
    width: 798px;
    height: 100%;
    overflow: hidden;
    transition: margin-left .2s ease-in-out;
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .5s ease-in-out;
    -ms-transition: margin-left .5s ease-in-out;
    -moz-transition: margin-left .5s ease-in-out;

}
/*用户列表样式*/
#user-list {
    position: absolute;
    width: 266px;
    right: 0;
    height: 100%;
}
/*消息列表样式*/
.message-box {
    position: absolute;
    width: 266px;
    left: 266px;
    height: 100%;
}
#message-list {
    position: absolute;
    top: 0;
    bottom: 105px;
    width: 266px;
}
/*消息发送器样式*/
#message-sender {
    width: 252px;
    height: 100px;
    margin-left: 8px;
    position: absolute;
    bottom: 0;

}
#action-list {
    position: absolute;
    width: 266px;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
}
#action-list.empty {
    background: url('../img/action-user-list-empty.png');
    background-image: -webkit-image-set(
        url('../img/active-user-list-empty@2x.png') 2x
    );
    background-repeat: no-repeat;
    background-position: center center;
}

#action-list .action,
#action-list .apply {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.bjy-length-hint {
    margin-left: -15px;
}
.bjy-avatar {
    border-radius: 50%;
}


/*左边样式*/
.left {
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 280px;
}
/*白板样式*/
#whiteboard {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 60px;
}
/*白板工具*/
.pre-page {
    position: absolute;
    width: 90px;
    left: 0;
    top: 0;
    bottom: 0;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;

}
.pre-page:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .4);
}
.next-page {
    position: absolute;
    width: 60px;
    right: 0;
    top: 0;
    bottom: 0;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;

}
.next-page:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .4);
}
.icon-chevron-left,
.icon-chevron-right {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -25px;
}
.has-page {
    color: #fff;
}


/*文档目录*/
.side-bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    box-shadow: -2px 0 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: -2px 0 6px rgba(0,0,0,0.2);
    -moz-box-shadow: -2px 0 6px rgba(0,0,0,0.2);
    background-color: #ebebeb;
    transition: right .5s;
    -webkit-transition: right .5s;
    -moz-transition: right .5s;
    -o-transition: right .5s;

}
.document {
    position: absolute;
    width: 70%;
    bottom: 20px;
    left: 15%;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    color: #fff;
    border-color: #db851f;
    background-color: #ff7b00;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffa400),to(#ff7b00));
    background-image: -webkit-linear-gradient(top,#ffa400,#ff7b00);
    background-image: -moz-linear-gradient(top,#ffa400,#ff7b00);
    background-image: -webkit-gradient(linear,left top, left bottom,from(#ffa400),to(#ff7b00));
    background-image: -o-linear-gradient(top,#ffa400,#ff7b00);
    background-image: linear-gradient(top bottom,#ffa400,#ff7b00);
    background-repeat: repeat-x;
    cursor: pointer;
}
.catalogue {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 80px;
}
.fold-btn {
    position: absolute;
    width: 20px;
    height: 100px;
    left: -20px;
    top: 50%;
    margin-top: -50px;
    background-color: #ebebeb;
    box-shadow: -2px 0 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: -2px 0 6px rgba(0,0,0,0.2);
    -moz-box-shadow: -2px 0 6px rgba(0,0,0,0.2);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    color: #9d9d9d;
    cursor: pointer;
    font-size: 12px;
    padding-left: 4px;
    padding-top: 13px;
}



/*弹幕样式*/
#barrage {
    position: absolute;
    width: 500px;
    height: 350px;
    left: 20px;
}
/*弹幕字体样式*/
.bjy-barrage {
    background-color: rgba(0,0,0,0.3);
    color: white;
    padding: 2px 16px;
    font-size: 16px;
    border-radius: 15px;
}



/*底部工具栏样式*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #313339;
    color: #fff;
}
#setting {
    padding: 15px 0;
    margin-left: 32px;
    display: inline-block;
}

.footer-class {
    display: inline-block;
    position: absolute;
    height: 50px;
    left: 250px;
    line-height: 50px;
}
.footer-class .menu {
    display: inline-block;
}
#btn-start {
    cursor: pointer;
    padding: 6px 8px;
    display: inline;
    color: #bdc6cf;
    border-radius: 2px;
    border: 1px solid #313339;
}
#btn-start:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    border-color: rgba(255,255,255,0.1);
}
#menu-record {
    display: inline-block;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    border-radius: 2px;
    top: 2px;
    left: -8px;
}
#menu-record .bjy-menu-switcher {
    font-size: 15px;
    padding: 4px 6px;
}
#menu-record .bjy-menu-switcher:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
}
#menu-record .bjy-label {
    margin-top: -10px;
}
#menu-record .bjy-cloud-record-ing:after {
    left: 12px;
}
#menu-record .bjy-icon {
    font-size: 20px;
}
#menu-share-screen {
    cursor: pointer;
    padding: 4px 8px;
    color: #bdc6cf;
    border-radius: 2px;
    border: 1px solid #313339;
    margin-left: 50px;
}
#menu-share-screen:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    border-color: rgba(255,255,255,0.1);
}
#menu-roll-call {
    cursor: pointer;
    padding: 4px 8px;
    color: #bdc6cf;
    border-radius: 2px;
    border: 1px solid #313339;
    display: inline;
}
#menu-roll-call:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    border-color: rgba(255,255,255,0.1);
}

.footer-right {
    display: inline-block;
    position: absolute;
    height: 50px;
    right: 30px;
    line-height: 50px;
}
#btn-fullscreen {
    display: inline;
    padding: 6px 8px;
    color: #bdc6cf;
    cursor: pointer;
    border: 1px solid #313339;
}
#btn-fullscreen:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 2px;
    border-color: rgba(255,255,255,0.1);
}
#menu-mic {
    margin: 0 10px;
}
.icon-emotion:before {
    color: #ffe1b3;
}
#menu-speak-apply {
    margin-left: 5px;
    padding: 4px 8px;
    color: #adadae;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    border-radius: 2px;
}
#menu-speak-apply:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
}



 /*提示*/
#main .tip {
    background-color: #6D6D6E;
    border-radius: 4px;
    color: #FFF;
    font-size: 18px;
    padding:8px;
    text-align: center;
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#main .tip > .text {
    line-height: 1;
}


/*对话框*/
.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    user-select: none;
    box-shadow: 0 0 18px #000;
    border-radius: 5px;
    z-index: 9;
}
.dialog-hide {
    margin-left: -5000px !important;
}
.dialog .header {
    width: 100%;
    height: 30px;
    background: #313339;
    color: #fff;
    font-size: 14px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dialog .body {
    background: #fff;
}
.dialog .title {
    position: absolute;
    left: 20px;
    top: 0;

    height: 30px;
    line-height: 30px;
}
.dialog .close,
.dialog .minimize {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    opacity: 1;
    font-size: 18px;
    padding-top: 4px;

    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;

    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
}
.dialog .minimize {
    right: 30px;
}
.dialog .minimize:hover {
    background-color: #535c78;
    cursor: pointer;
}
.dialog .close:hover {
    background-color: #535c78;
    cursor: pointer;
    border-top-right-radius: 5px;
}

.dialog .list {
    overflow: scroll;
    font-size: 12px;
    padding-left: 7px;
    padding-top: 10px;
}
.dialog .list li {
    width: 100%;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dialog .list .program-select-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 4px;
}
.dialog .list label {
    width: 100%;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dialog .actions {
    text-align: center;
    padding: 10px 0;
}
.btn-confirm {
    display: inline-block;
    padding: 1px 12px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid;
    border-color: #db851f;
    background-color: #ff7b00;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffa400),to(#ff7b00));
    background-image: -webkit-linear-gradient(top,#ffa400,#ff7b00);
    background-image: -moz-linear-gradient(top,#ffa400,#ff7b00);
    background-image: -webkit-gradient(linear,left top, left bottom,from(#ffa400),to(#ff7b00));
    background-image: -o-linear-gradient(top,#ffa400,#ff7b00);
    background-image: linear-gradient(top bottom,#ffa400,#ff7b00);
    background-repeat: repeat-x;
    cursor: pointer;
}

.dialog .call-text {
    text-align: center;
    font-size: 13px;
    padding: 6px;
}
.dialog #call-time {
    width: 35px;
}

.dialog .call-result {
    width: 90%;
    margin-left: 5%;
}
.dialog .content {
    overflow: scroll;
}
.dialog th {
    height: 35px;
    text-align: center;
    font-size: 15px;
    background: #ebebeb;
}
.dialog td {
    height: 35px;
    text-align: center;
    font-size: 12px;
    color: #9d9d9d;
}
