<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta https-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <!-- 本实例自定义样式 -->
  <link rel="stylesheet" href="./base.css">

  <!-- 使用任何组件都应该引入此基本样式文件 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/classroom/classroom.css">

  <!-- 其他组件样式根据需要引入 -->
  <!-- loading样式 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/loading/live/Loading.css">
  <!-- 用户列表 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userList/UserList.css">
  <!-- 聊天列表 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/message/messageList/MessageList.css">
  <!-- 聊天发送 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/message/messageSender/MessageSender.css">
  <!-- 问答 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/questionAnswer/QuestionAnswer.css">
  <!-- 菜单 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/setting/menu/menu.css">
  <!-- 白板样式 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/whiteboard/Whiteboard.css">
  <!-- 画笔工具 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/component/canvas/toolBar/ToolBar.css">
  <!-- 文档列表 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/catalogue/Catalogue.css">
  <!-- 默认播放器样式 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/theme/Default.css">
  <!-- 举手列表 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/applyList/ApplyList.css">
  <!-- 发言列表 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/activeList/ActiveList.css">
  <!-- 答题器 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/answer/teacher.css">
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/answer/student.css">
  <!-- 测验 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/quiz/teacher.css">
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/quiz/student.css">
  <!-- 公告 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/notice/Notice.css" />
  <!-- 用户浮层 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userLayer/UserLayer.css" />
  <!-- 播放 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/newMediaPlayer/NewMediaPlayer.css">
  <!-- 录制 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/record/Record.css">
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/record/setting/Record.css">
  <!-- 抽奖 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/lottery/Lottery.css">
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/lottery/LotteryHistory.css">
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/lottery/LotteryHit.css">
  <!-- 专注度检测 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/attentionDetection/AttentionDetection.css">
  <!-- 设置 -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/page/setting/Setting.css">
  <!-- 互动（红包雨、点赞、奖励） -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/interaction/Interaction.css">
  <!-- 抢答器（老师端） -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/tool/answerRacer/AnswerRacerTeacher.css">
  <!-- 抢答器（学生端） -->
  <link rel="stylesheet" href="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/tool/answerRacer/AnswerRacerStudent.css">

  <title>bjy-live-vue-demo</title>
  <script src="https://img.baijiayun.com/shared/fe/eruda.min.js"></script>
  <script>
    if (location.search.indexOf('eruda') > -1) {
        eruda.init()
    }
  </script>

  <style>
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>

  <div id="app"></div>
  <!-- built files will be auto injected -->

  <!-- 本 SDK 需要使用 JQuery 库，因此在使用之前首先引入 JQuery 文件 -->
  <script src="https://img.baijiayun.com/public/jquery/1.12.4/jquery-1.12.4.js"></script>

  <!-- 不管你用到这个页面里的任何组件，都需要先引入以下文件 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/classroom/classroom.js"></script>

  <!-- 如果你需要使用webrtc拓展，你需要先引入这个依赖 -->
  <script src="//live-cdn.baijiayun.com/realtimecat/1.0.29/realtimecat.js"></script>
  
  <script src="//img.baijiayun.com/0baijiatools/472a178fb6799b7316e8c3d6b1f03fad/trtc-4.14.7.js"></script>
  <script src="//brtc.baijiayun.com/brtc-js-sdk/2.20.3/BRTC.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/dep/wea/webrtc-engine-adapter.js"></script>

  <!-- 客户端依赖 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/cef/cef.js"></script>
  <!-- 播放器相关依赖 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userStatus.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/player.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/core/Player.js"></script>

  <!-- 申请发言列表 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userSpeak.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/applyList/ApplyList.js"></script>

  <!-- 播放器拓展 -->
  <!-- webrtc拓展 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/extension/webrtc/webrtc.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/extension/cef.js"></script>
  <!-- html扩展 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/extension/html.js"></script>

  <!-- 默认播放器组件 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/player/theme/Default.js"></script>
  <!-- 用户推拉流相关 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userPublish.js"></script>

  <!-- 使用组件时应引入对应的依赖, 如：加载loading组件需引入以下依赖 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/loading/live/Loading.js"></script>
  <!-- 用户浮层 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userLayer/UserLayer.js"></script>
  <!-- 用户列表、聊天列表、聊天发送、发言列表 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/userList/UserList.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/message/messageList/MessageList.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/message/messageSender/MessageSender.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/user/activeList/ActiveList.js"></script>
  <!-- 互动 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/interaction/Interaction.js"></script>

  <!-- 弹幕组件 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/barrage/Barrage.js"></script>
  <!-- 音视频菜单 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/setting/menu/menu.js"></script>
  <!-- 白板 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/component/canvas/Canvas.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/whiteboard/Whiteboard.js"></script>
  <!-- 画笔工具 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/component/canvas/toolBar/ToolBar.js"></script>
  <!-- 文档列表 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/catalogue/Catalogue.js"></script>
  <!-- 答题器 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/answer/teacher.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/answer/student.js"></script>
  <!-- 问答-->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/questionAnswer/QuestionAnswer.js"></script>
  <!-- 跑马灯 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/horseLamp/HorseLamp.js"></script>
  <!-- 测验 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/quiz/teacher.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/quiz/student.js"></script>
  <!-- 公告 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/notice/Notice.js"></script>
  <!-- webrtc屏幕分享依赖 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/screenShareExtension/webrtc.js"></script>
  <!-- 播放本地文件依赖 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/newMediaPlayer/NewMediaPlayer.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/newMediaPlayer/webrtc.js"></script>
  <!-- 录制 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/record/Record.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/record/setting/Record.js"></script>
  <!-- 抽奖 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/lottery/Lottery.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/lottery/LotteryHistory.js"></script>
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/lottery/LotteryHit.js"></script>
  <!-- 专注度检测 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/attentionDetection/AttentionDetection.js"></script>
  <!-- 设置 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/page/setting/Setting.js"></script>
  <!-- 互动（红包雨、点赞、奖励） -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/interaction/Interaction.js"></script>
  <!-- 转播 -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/transferClass/TransferClass.js"></script>
  <!-- 抢答器（老师端） -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/tool/answerRacer/AnswerRacerTeacher.js"></script>
  <!-- 抢单器（学生端） -->
  <script src="<%= process.env.VUE_APP_JSSDK_BASE_URL %>/tool/answerRacer/AnswerRacerStudent.js"></script>

</body>

</html>
