<template>
    <div id="whiteboard" :class="{ 'whiteboard-fullscreen': isIOS && isFull }">
        <button class="btn" @click="toggleWhiteboardFull()">
            {{ isFull ? '退出全屏' : '全屏' }}
        </button>
        <div class="placeholder"></div>
    </div>
</template>

<script>
let whiteboard = null
const eventEmitter = BJY.eventEmitter
export default {
    components: {},
    data() {
        return {
            isFull: false,
            isIOS: BJY.os.ios
        }
    },
    computed: {},
    watch: {},
    methods: {
        toggleWhiteboardFull() {
            var dom = document.getElementById('whiteboard')
            if (!this.isIOS) {
                this.isFull ? this.exitFullScreen() : this.fullScreen(dom)
            }
            this.isFull = !this.isFull
            setTimeout(() => {
                eventEmitter.trigger(eventEmitter.WINDOW_RESIZE)
            }, 200)
        },
        fullScreen(dom) {
            if (dom.requestFullscreen) {
                return dom.requestFullscreen()
            } else if (dom.webkitRequestFullScreen) {
                return dom.webkitRequestFullScreen()
            } else if (dom.mozRequestFullScreen) {
                return dom.mozRequestFullScreen()
            } else {
                return dom.msRequestFullscreen()
            }
        },
        exitFullScreen() {
            var dom = document
            if (dom.exitFullscreen) {
                dom.exitFullscreen()
            } else if (dom.webkitExitFullscreen) {
                return dom.webkitExitFullScreen()
            } else if (dom.mozRequestFullscreen) {
                return dom.mozExitFullscreen()
            } else {
                return dom.msExitFullscreen()
            }
        }
    },
    created() {},
    mounted() {
        // 新版白板
        whiteboard = BJY.Whiteboard.create({
            element: $('#whiteboard .placeholder')
        })
    },
    beforeDestroy() {
        whiteboard && whiteboard.destroy()
    }
}
</script>

<style lang="scss" scoped>
//@import url(); 引入公共css类
#whiteboard {
    height: 100%;
    width: 100%;
    visibility: hidden;

    .bjy-whiteboard-wrapper {
        width: 100%;
    }

    .btn {
        position: absolute;
        bottom: 50px;
        right: 20px;
        z-index: 1;
    }
}
.whiteboard-fullscreen {
    position: fixed;
    width: 100vh !important;
    height: 100vw !important;
    transform: rotate(90deg) translateX(100%);
    top: 0px;
    right: 0;
    transform-origin: right top;
    z-index: 999;
    background: #000000;
}
</style>
